 #chart-area svg {
	margin-left: 10%;
    margin-right: auto;
	display: block;
}
 
.table {
    width: 100%;
    max-width: 100%;
	margin-left: 75%;
    background-color: transparent;
}

nav {
	margin-bottom:5%;
}
